# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Database files
backend/data/*.sqlite
backend/data/*.sqlite-journal
backend/data/*.db

# Environment variables
.env
backend/.env

# Build outputs
frontend/dist/
frontend/dist-ssr/
*.local

# System & OS
.DS_Store
Thumbs.db
